body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #11111b;
}

#screen {
	width: 1080px;
	height: 2340px;
	background-image: linear-gradient(
		-63deg,
		#f5bde6 0% 9%,
		#c6a0f6 9% 18%,
		#ed8796 18% 27%,
		#ee99a0 27% 36%,
		#f5a97f 36% 45%,
		#eed49f 45% 54%,
		#a6da95 54% 63%,
		#8bd5ca 63% 72%,
		#91d7e3 72% 81%,
		#7dc4e4 81% 90%,
		#8aadf4 90% 100%
	);

	display: flex;
	flex-direction: column;
	margin-top: -20px;
}

#hearts {
	/* load from heart.svg */
	width: 100%;
	height: 100%;
	background: url("heart.svg") repeat;
	background-size: 200px;
}

#tray {
	width: 100%;
	padding-bottom: 52px;
	height: 320px;
	padding-top: 52px;

	background: #24273a;

	margin-top: auto;
	margin-bottom: 0;
}
